
body{
  background-color: black;
  color: white;
}

NavLink.active{
  background-color: red;
}
.bannerContainer {
  min-height: 600px;
  box-shadow: 0 0 111px 73px rgba(39, 39, 39, 0.434) inset;
}
.BannerImg{
  z-index: 2;
}
.BannerImg img{
  filter: drop-shadow(10px 10px 110px rgb(250, 249, 249));
  /* overflow: hidden; */
}

header{
  background-color: #00000013;
}

.dropBtns {
  bottom: 12px;
  right: 44px;
  border-radius: 100%;
  border: 1px solid rgb(255, 255, 255);
  border-top: none;
  height: 170px;
  width: 1090px;
  transform: rotate(-4deg);
}


